{% extends 'base.html' %}
{% block title %}Библиотека - главная страница{% endblock %}
{% block content %}
<p>Добро пожаловать в {{ title }}. <br></p>
<p>Тут собрано {{ books|length }} книг из моей личной коллекции.</p>

<table border="1">
    <tr><td>N</td><td>Название</td><td>ISBN</td><td>Описание</td><td>Год</td><td>Автор</td><td>Издательство</td><td>Кто взял книгу</td><td>Копии</td><td>Изменить копии</td></tr>
    {% for book in books %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.ISBN }}</td>
        <td>{{ book.description }}</td>
        <td>{{ book.year_release }}</td>
        <td>{{ book.author.full_name }}</td>
        <td>{{ book.publisher.company }}</td>
        <td>{{ book.friend.full_name }}</td>
        <td>{{ book.copy_count }}</td>
        <td>
            <form action="/index/book_increment/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{book.id}}" />
                <input type="submit" value="Увеличить кол-во" />
            </form>
            <form action="/index/book_decrement/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{book.id}}" />
                <input type="submit" value="Уменьшить кол-во" />
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<p>Кто вдохновил авторов</p>
<table border="1">
    <tr><td>N</td><td>Название</td><td>Автор</td><td>Кто вдохновил</td></tr>
    {% for inspirer in inspirers %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ inspirer.book }}</td>
        <td>{{ inspirer.author }}</td>
        <td>{{ inspirer.inspirer }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}