{% extends 'base.html' %}
{% block title %}Библиотека - главная страница{% endblock %}
{% block content %}
<p>Добро пожаловать в {{ title }}. <br></p>
<p>Тут собрано {{ books|length }} книг из моей личной коллекции.</p>

<div class="container">
    <div class="card-deck">
        {% for book in books %}
        <div class="col">
            <div class="card" style="width: 12rem;">
                {% if book.bookcover %}
                <img src="{{ book.bookcover.url }}" class="card-img-top">
                {% else %}
                <img src="/media/images/default-300x300.jpg" class="card-img-top">
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">{{ book.title }}</h5>
                  <p class="card-text">{{ book.author.full_name }}</p>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>  
</div>


<p>Кто вдохновил авторов</p>
<table class="table table-striped">
    <tr><td>N</td><td>Название</td><td>Автор</td><td>Кто вдохновил</td></tr>
    {% for inspirer in inspirers %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ inspirer.book }}</td>
        <td>{{ inspirer.author }}</td>
        <td>{{ inspirer.inspirer }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}